.banner {
  background-image: url(images/background-picture.jpg);   
  background-size: cover;     
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Helvetica;
  font-weight: lighter;
}

.banner h1, h2 {
  color: white;
  font-size: 50px;
  font-weight: lighter;
}

.banner h2 {
  font-size: 30px;
}

.banner-with-flat-filter {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/background.jpg');
}
